<form action="/records" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="date" name="date" >
  <input type="number" name="amount" >
  <button type="submit">Create</button>
</form>