<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">新增支出紀錄</h1>
      <form action="/records" method="POST">
        <div class="form-group mt-3">
          <label for="name"><span style="color: red;">*</span> Name</label>
          <input type="text" id="name" name="name" class="form-control mt-2" placeholder="Enter Name" required>
        </div>
        <div class="form-group mt-3">
          <label for="Date"><span style="color: red;">*</span> Date</label>
          <input type="date" id="date" name="date" class="form-control mt-2" required>
        </div>
        <div class="form-group mt-3">
          <label for="category"><span style="color: red;">*</span> Category</label>
          <select class="form-control mt-2" name="category" id="category" required>
            <option value="家居物業" >家居物業</option>
            <option value="交通出行" >交通出行</option>
            <option value="休閒娛樂" >休閒娛樂</option>
            <option value="餐飲食品" >餐飲食品</option>
            <option value="其他" >其他</option>
          </select>
        </div>
        <div class="form-group mt-3">
          <label for="amount"><span style="color: red;">*</span> Amount</label>
          <input type="number" id="amount" name="amount" class="form-control mt-2" placeholder="Enter Number" required>
        </div>
        <div class="mt-4 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary btn-block ">新增</button>
        </div>
      </form>
    </div>
  </div>
</div>