<form action="/records" method="POST">
  <input type="text" placeholder="name" name="name" required>
  <input type="date" name="date" required>  
  <select name="category" id="category">
    <option value="家居物業">家居物業</option>
    <option value="交通出行">交通出行</option>
    <option value="休閒娛樂">休閒娛樂</option>
    <option value="餐飲食品">餐飲食品</option>
    <option value="其他">其他</option>
  </select>  
  <input type="number" name="amount">
  <button type="submit">Create</button>
</form>